/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/12/2014, 02:50:15 PM
    Author     : Miguel Cuadros Gálvez 
    CopyLeft 2014-2015
*/
*{
    font-family: "Roboto", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
/*Material Header Styles*/

m-header{
    width: 100%;
    height: 64px;
    display: block;
    line-height: 64px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    z-index: 1;
    position: fixed;
    padding-left: 16px;
    box-sizing: border-box;
}

mh-icon{
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    line-height: 64px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding-top: 4px;
    max-height: 64px;
}

mh-title{
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
}

mh-options{
    position: absolute;
    height: 64px;
    top:0;
    right: 0;
    padding-right: 16px;
    padding-left: 4px;
    line-height: 64px;
}

/*Standard component customize*/
h1{
    font-weight: 400;
    font-size: 34px;
}

h2{
    font-weight: 400;
    font-size: 24px;
}

p {
    color: #333;
}
/*Material Content*/

m-content{
    position: relative;
    display: block;
    padding-top: 64px;
    width: 100%;
    max-width: 1160px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

m-card{

}
/* Material Index*/
m-index{
    border-left-width: 4px;
    border-left-style: solid;
    display: block;
    padding-left: 20px;
}
m-index > a{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
mi-title:not(:first-child){
    padding-top: 10px;
}
mi-title, m-index > a{
    display: block;
}
mi-title{
    font-size: 15px;
    color: #757575;
}
m-card{
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    border-radius: 2px;
}

/* TIPO DE TARJETAS*/
.info-card{
    display: inline-block;
    min-width: 165px;
    min-height: 230px;
    overflow: hidden;
    margin:2px;
    box-sizing: border-box;
}
.info-card > mc-image{
    width: 100%;
    height: calc(100% - 64px);
    background-color: gray;
    display: block;
}
mc-info{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding:8px;
}
mc-title, mc-subtitle{
    width: 84%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
mc-title{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.87);
}
mc-subtitle{
    text-overflow: ellipsis;
    padding-top: 4px;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0,0,0,.54);
}
mc-options{
    width: 16%;
    float: right;
    display: block;
}
mc-icon{
    display: block;
    padding-top: 9px;
    font-size: 24px;
    color:rgba(0,0,0,.54);
    cursor: pointer;
}

/*PANELES CONTEXTUALES */
m-panel{
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    color: rgba(0,0,0,.84);
    font-size: 16px;
    box-sizing: border-box;
    top: 50px;
    left:-180px;
    visibility: hidden;
    line-height: normal;
    transition: all .5s;
    opacity: 0;
}
mh-icon:hover > m-panel{    
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}
mh-icon > m-panel > a{
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 16px;
    padding-right: 32px;
    display: block;
    text-decoration: none;
}
mh-icon > m-panel > a:hover{
    background-color: #eeeeee;
}
m-panel > hr{
    margin:0;
    padding: 0;
}


/* Panel Lateral principal*/
m-mainaside{
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.50);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
}
m-mainaside > m-panel{
    width: 300px;
    height: 100%;
    top:0;
    background-color: white;
    box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);
    display: block;
    left:0;
    position: fixed;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all .5s;
    transform: translateX(-300px);
}
.extended-header{
    height: 175px;
    width: 100%;
    background-color: gray;
    display: block;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
mm-picture.avatar{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 32px;
    display: block;
    position: absolute;
    top:40px;
}
mm-subtitle{
    position: relative;
    display: block;
    position: absolute;
    width: calc(100% - 32px);
    box-sizing: border-box;
    bottom: 25px;
}
mm-subtitle > mm-icon{
    display: block;
    position: absolute;
    right: 0;
    padding:0;
    top:2px;
}
mm-header.extended-header ~ mm-content{
    width: 100%;
    height: calc(100% - 175px);
    display:block;
    background-color: white;
    overflow: auto;
}

mm-content > a {
    display: block;
    font-weight: 500;
    line-height: 48px;
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    cursor:pointer;
}

mm-content >a:hover{
    background-color: #eee;
}

mm-content > a > span{
    font-size: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,.57);
    padding-right: 16px;
}

/*COMPONENTE*/
m-component{
    width:100%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    border-radius: 2px;
}

m-component > mc-image{
    width: 100%;
    height: 390px;
    display: block;
}

m-component > mc-header{
    display:block;
    height: 90px;
    background-color: #e8e8e8;
    width: 100%;
    position: relative;
}

m-component > mc-header > mc-title{
    padding-top: 18px;
    font-size: 20px;
    padding-left: 42px;
}
m-component > mc-header > mc-subtitle{
    font-size: 14px;
    padding-left: 42px;
    font-weight: normal;
}

m-component > mc-header > mc-actionbutton{
    background-color: #db4437;
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    line-height: 56px;
    display: block;
    font-size: 28px;
    padding-top: 4px;
    box-sizing: border-box;
    position: absolute;
    right: 48px;
    top: -28px;
    cursor: pointer;
    font-weight: 100;
}


m-component > mc-content{
    background-color: white;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding:40px;
}

m-component > mc-content > mm-picture{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: gray;
    border-radius: 20px;
    vertical-align: top;
    margin-right: 16px;
    box-sizing: border-box;
}
m-component > mc-content > p{
    display: inline-block;
    vertical-align: top;
    margin: 0;

}
m-component > mc-content > p >.date{
    color:rgba(0,0,0,0.57);
    font-weight: normal;
    font-size: 14px;
}
m-component > mc-content > p > .author{
    font-weight: 500;
    font-size: 14px;
    color:rgba(0,0,0,.84);

}
m-component > mc-content > article{
    padding-top: 48px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-left:56px;
    padding-right: 16px;
    font-size: 12px;
    font-weight: 500;

}

/*MODALES*/
m-modal{
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.50);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
}
m-modal > m-panel {

    display: block;
    visibility: visible;
    opacity: 1;
    width: 80%;
    max-width: 1000px;
    max-height: 70%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);

}

m-modal > m-panel > mc-title{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0,0,0,0.84);
    display: block;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;

}

m-modal > m-panel > mc-options{
    text-align: right;
    width: 100%;
    display: block;
    min-height: 48px;
    line-height: 48px;
    float: none;
    clear:both;
    box-sizing: border-box;
    padding-right: 20px;

}

m-modal > m-panel > mc-content{

    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.57);
    width: 100%;
    display: block;
    padding: 24px;
    padding-top: 0px;
    padding-bottom: 16px;
    max-height: 400px;
    height: auto;
    overflow: auto;
    box-sizing: border-box;

}
m-modal > m-panel > mc-options > button{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color:#0589f1;

}


/*TAMAÑO DE TARJETAS */
.xs-card{
    width: 165px;
    height: 230px;
}

/*TEXT MODIFICATIONS*/
.display4, .display3, .display2, .display1, .caption{
    color: rgba(0,0,0,.54);
}

.headline, .subhead, .body2, .body1, .t-menu,.title{
    color:rgba(0,0,0,.87);
}

.display4{
    font-weight: 300;
    font-size: 112px;
    letter-spacing: -2px;
}

.display3{
    font-size: 56px;
}

.display2{
    font-size: 45px;
}

.display1{
    font-size: 34px;
}

.headline{
    font-size: 24px;
    font-weight: normal;
}

.title{
    font-size: 20px;
    font-weight: 500;
}

.subhead{
    font-size: 16px;
    font-weight: normal;
}

.body2{
    font-size: 14px;
    font-weight: 500;
}

.body1{
    font-size: 14px;
}

.caption{
    font-size: 12px;
}

/* TEXT COLORS*/
.t-black{
    color:black;
}

.t-white{
    color:white;
}

.t-darkgray{
    color:#333;
}

.t-base-content{
    color: #e9eaed;
}

.t-turquoise{
    color: #1abc9c;
}

.t-emerald{
    color: #2ecc71;
}

.t-peter-river{
    color: #3498db;
}

.t-amethyst{
    color: #9b59b6;
}

.t-wet-asphalt{
    color: #34495e;
}

.t-green-sea{
    color: #16a085;
}

.t-nephrtitis{
    color: #27ae60;
}

.t-belize-hole{
    color: #2980b9;
}

.t-wisteria{
    color: #8e44ad;
}

.t-midnight-blue{
    color: #2c3e50;
}

.t-sun-flower{
    color: #f1c40f;
}

.t-carrot{
    color: #e67e22;
}

.t-alizarin{
    color: #e74c3c;
}

.t-clouds{
    color: #ecf0f1;
}

.t-concrete{
    color: #95a5a6;
}

.t-orange{
    color: #f39c12;
}

.t-pumpking{
    color: #d35400;
}

.t-pomergranate{
    color: #c0392b;
}

.t-silver{
    color: #bdc3c7;
}

.t-asbestos{
    color: #7f8c8d;
}


/*BORDER COLORS*/

.b-base-content{
    border-color: #e9eaed;
}

.b-turquoise{
    border-color: #1abc9c;
}

.b-emerald{
    border-color: #2ecc71;
}

.b-peter-river{
    border-color: #3498db;
}

.b-amethyst{
    border-color: #9b59b6;
}

.b-wet-asphalt{
    border-color: #34495e;
}

.b-green-sea{
    border-color: #16a085;
}

.b-nephrtitis{
    border-color: #27ae60;
}

.b-belize-hole{
    border-color: #2980b9;
}

.b-wisteria{
    border-color: #8e44ad;
}

.b-midnight-blue{
    border-color: #2c3e50;
}

.b-sun-flower{
    border-color: #f1c40f;
}

.b-carrot{
    border-color: #e67e22;
}

.b-alizarin{
    border-color: #e74c3c;
}

.b-clouds{
    border-color: #ecf0f1;
}

.b-concrete{
    border-color: #95a5a6;
}

.b-orange{
    border-color: #f39c12;
}

.b-pumpking{
    border-color: #d35400;
}

.b-pomergranate{
    border-color: #c0392b;
}

.b-silver{
    border-color: #bdc3c7;
}

.b-asbestos{
    border-color: #7f8c8d;
}


/* BACKGROUND COLORS*/
.base-content{
    background-color: #e9eaed;
}

.turquoise{
    background-color: #1abc9c;
}

.emerald{
    background-color: #2ecc71;
}

.peter-river{
    background-color: #3498db;
}

.amethyst{
    background-color: #9b59b6;
}

.wet-asphalt{
    background-color: #34495e;
}

.green-sea{
    background-color: #16a085;
}

.nephrtitis{
    background-color: #27ae60;
}

.belize-hole{
    background-color: #2980b9;
}

.wisteria{
    background-color: #8e44ad;
}

.midnight-blue{
    background-color: #2c3e50;
}

.sun-flower{
    background-color: #f1c40f;
}

.carrot{
    background-color: #e67e22;
}

.alizarin{
    background-color: #e74c3c;
}

.clouds{
    background-color: #ecf0f1;
}

.concrete{
    background-color: #95a5a6;
}

.orange{
    background-color: #f39c12;
}

.pumpking{
    background-color: #d35400;
}

.pomergranate{
    background-color: #c0392b;
}

.silver{
    background-color: #bdc3c7;
}

.asbestos{
    background-color: #7f8c8d;
}

.base-content-light{
    background-color: #f9f9f9;
}